input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    height:200px
}

#contacts {
    display: flex;
}

#client-contact {
    margin: 20px;
}

.content-contacts__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}

#content-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.content-contacts__section-card{
    margin: 20px;
    border: 1px solid gray;
    background-color: #cccccc;
    padding: 0.5%;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container_auxiliar, #content-contact {
    padding: 2%;
    background: #f2f2f2;
    margin-top: 4.4%;
    display: flex;
    box-sizing: border-box;
}

form {
    width: 100%;
}

#content-contact{
    display: flex;
    flex-direction: column;
}

.body-page{
    border: 1px solid gray;
    text-align: left;
}

.message {
    color: green;
    background: #CCFFCC;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
    margin-bottom: 30px;
}

.add_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.add-project_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.add-project_button:hover, .add-client_button:hover, .add_button:hover {
    filter: brightness(.9);
}