input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    height:200px
}

#contacts {
    display: flex;

}

#client-contact {
    margin: 20px;
}

.container_auxiliar {
    padding: 2%;
    background: #f2f2f2;
    margin-top: 4.4%;
    display: flex;
    flex-direction: column;
}
.body-page{
    border: 1px solid gray;
    text-align: left;
}

.message {
    color: green;
    background: #CCFFCC;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
    margin-bottom: 30px;
}

#add-client_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#add-project_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}