@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');


* {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

#content-body{
    background-image: url("../img/backgrounds/marmol_texture.jpg") ;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.body-page   {
    margin: 3.7% 0 3% 0;
    width: 66%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    text-align: center;
    border: none;
    background: none;
}

:root {
    --main-color: steelblue;
    --alert-color: #7C2020;
    --alert-background-color: #E9BEBE;
    --button-light-color: #1ab188;
}





