#files-message {
    resize: none;
    height: 50px;
}

#content-files {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    margin-top: 20px;

}
.titles {
    display: flex;
    flex-direction: column;
}
#files {
    width: 100px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

#files img {
    width: 100px;
    height: 100px;
}

#content-image {
    height: 100px;
}

#content-message {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

#content-buttons {
    height: 100px;
}

.button-files, #button-delete {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}
.button-files:hover, #button-delete:hover {
    filter: brightness(.9);
}


#button-delete {
    background-color: #FF6666;
}

#title-proyect {
    margin: 0;
    font-size: 50px;
    text-decoration: underline;

}

#subtitle-proyect {
    margin: 0;
    margin-top: 25px;
    margin-left: 10px;
}



